body{
  margin:0px;
  font-family:;
}
#content, #album, #info{
  float:left;
  background-color:pink;
}
#content{
  border: solid 2px pink;
  width:50%;
  
}
#album{
  border: solid 2px grey;
  width:30%;
}
#info{
  border: solid 2px green;
  max-width:18%;
}
#player button{
  
}
#player audio::-webkit-media-controls-play-button {
    display:none;
  
}
#player audio{
height:1em;
}
#banner{
  max-width:100vw;
  height:50vw;
}
#tracklist{
  list-style-type:none;
}
.track-li:{
  font-size: 125%;
  font-style:italic
}
.track-player::-webkit-media-controls-panel {
  background-color: rgba(255, 255, 255, 1);
}
.track-player{
  height: 3em;
}
#album-cover{
  width:100%;
  
}
#info img{
  max-width: 100%;
  margin:auto;
  display:block;
}
a{
  color: #FC6C85 ;
  text-decoration:none;
}

