body{
  margin:0;
  padding:0;
  color: #FF007F;
}

.square {
  float: left;
  border: solid pink 3px;
  width: 30vw;
  font-size: xxx-large;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
#winner {
  display:none;
   position:fixed;
  top: 0px;
  left:0%;
  right:0%;
  bottom:0px;
  text-align: center;
  background-color:#FF69B4;
  font-size: xx-large;
  padding: 4em;
 
}

#winner div {
 margin:auto;
  text-align: center;
  color:pink;
  font-size: xx-large;
  padding: 2em;
}
