 body{
  background-color:#FFB5A0;
  color:black;
  text-align:left;
  font-family:geist;}
#bg{
 width:100vw;
 height:150vh;
 z-index:-999;
 position:fixed;
 top:0px;
 left:0px;
}
a{
  text-decoration:none;
  font-weight:800;
  color:#AA1434;
}
a:hover, a:visited {
  color:grey;
}
hr{
  height:4px;
  border:0px;
  background-color:#E31E5C;
}
h2{
  color:grey; 
}
#nav-list {
  display:flex;
  list-style-type:none;
  justify-content:center;
  background-color:pink;
  position:center;
  
  
}
#nav-list > li{
flex-grow: 1;
  display:inline-block;
  width:15%;
}

#nav-list ul {
  display:none;
  background-color:#D3D3D3;
}
#nav-list li:hover ul{
  display: block;
}
#nav-list li ul{
  list-style-type: none;
  padding: 0px;
  position:relative;
 

}
#nav-list li:hover{
  background-color:#AA336A;
  color: pink;
}
