 body{
  background-color:#FFB5C0;
  color:black;
  text-align:left;
  font-family:geist;}
a{
  text-decoration:none;
  font-weight:800;
  color:#AA1434;
}
a:hover, a:visited {
  color:#EF005C;
}
hr{
  height:4px;
  border:0px;
  background-color:#E31E5C;
}
h2{
  color:grey; 
}
